    /* Large */
        *{
        text-decoration: none;
        margin: 0;
        padding: 0;
        color: #000;
    }
    
    .cabecalho {
        display: flex;
        align-items: center;
        border-bottom: 3rem solid #e7e7e7;
        height: 4rem;
        background-color: #fbfbfb;
    }
    
    .logo-cabecalho {
        margin-right: 2rem;
        display: flex;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .logo-cabecalho img {
        width: 30px; 
        height: auto;
        margin-left: 20px;
        border-radius: 5px;
    }
    
    .nomeAg {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: #00a1fc;
        font-size: 35px;
    }
    .rotas-cabecalho {
        display: flex;
        align-items: center;
        height: 4rem;
    }
    
    .menu{
        display: flex;
        align-items: center;
        height: 4rem;
    }
    
    .rotas {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 7rem;
        height: 4rem;
    }
    
    .rotas a {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: 1.25rem;
    }
    
    .rotaSelect {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f5f5f5;
        width: 7rem;
        height: 4rem;
        border-radius: 0.3rem;
    }
    
    .rotas a:hover {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #e7e7e7;
        width: 7rem;
        height: 4rem;
        border-radius: 0.3rem;
    }
    
    .rotaSelect a:hover {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #e7e7e7;
        width: 7rem;
        height: 4rem;
        border-radius: 0.3rem;
    }
    
    .rotaSelect a {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: 1.25rem;
        color: #00a1fc;
    }
    
    .rodape {
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3rem;
        background-color: #000;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    .rodape img {
            width: 20px; 
            height: auto;
            border-radius: 5px;
        }
    
    .nomeAgP {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            color: #fbfbfb;
            font-size: 25px;
            margin-right: 1rem;
        }



    /* Mobile */
    @media(max-width: 599px) {
        
        .logo-cabecalho {
            margin-right: 0.2rem;
            display: flex;
            align-items: center;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        
        .logo-cabecalho img {
            width: 20px; 
            height: auto;
            margin-right: 5px;
            margin-left: 10px;
            border-radius: 5px;
        }
        
        .nomeAg {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            color: #00a1fc;
            font-size: 1.25rem;
            margin-left: -0.2rem;
            margin-right: 1rem;
            
        }
        .rotas a {
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            font-size: 1rem;
        }
        .rotas{
            width: 5rem;
        }
        .rotaSelect {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #f5f5f5;
            width: 5rem;
            height: 4rem;
            border-radius: 0.3rem;

            a{
                font-size: 1rem;
            }
        }
        .rodape {
            position: relative;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 3rem;
            background-color: #000;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
        
    }

    /* Tablet */
    @media (min-width: 600px) and (max-width:999px){  
        .cabecalho {
            display: flex;
            align-items: center;
            border-bottom: 3rem solid #e7e7e7;
            width: 100%;
            background-color: #fbfbfb;
        }
        
        .logo-cabecalho {
            margin-right: 0.2rem;
            display: flex;
            align-items: center;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        
        .logo-cabecalho img {
            width: 25px; 
            height: auto;
            margin-right: 5px;
            margin-left: 10px;
            border-radius: 5px;
        }
        
        .nomeAg {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            color: #00a1fc;
            font-size: 1.5rem;
        }
        
        .rotas {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 9rem;
            height: 4rem;
        }
        
        .rotas a {
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            font-size: 1rem;
        }
        
        .rotaSelect {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #f5f5f5;
            width: 7rem;
            height: 4rem;
            border-radius: 0.3rem;
        }
        
        .rotas a:hover {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #e7e7e7;
            width: 7rem;
            height: 4rem;
            border-radius: 0.3rem;
        }
        
        .rotaSelect a:hover {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #e7e7e7;
            width: 7rem;
            height: 4rem;
            border-radius: 0.3rem;
        }
        
        .rotaSelect a {
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            font-size: 1rem;
            color: #00a1fc;
        }
        
        .rodape {
            position: relative;
            width: 100%;
            height: 3rem;
            background-color: #000;
            display: flex;
            align-items: center;
        }
        
        .rodape img {
                width: 20px; 
                height: auto;
                border-radius: 5px;
            }
        
        .nomeAgP {
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                color: #fbfbfb;
                font-size: 25px;
                margin-right: 1rem;
            }
    }

    /* Desktop */
    @media (min-width: 1000px) and (max-width:1399px){
        *{
            text-decoration: none;
            margin: 0;
            padding: 0;
            color: #000;
        }
        
        .cabecalho {
            display: flex;
            align-items: center;
            border-bottom: 3rem solid #e7e7e7;
            height: 4rem;
            background-color: #fbfbfb;
        }
        
        .logo-cabecalho {
            margin-right: 2rem;
            display: flex;
            align-items: center;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        
        .logo-cabecalho img {
            width: 30px; 
            height: auto;
            margin-left: 20px;
            border-radius: 5px;
        }
        
        .nomeAg {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            color: #00a1fc;
            font-size: 35px;
        }
        .rotas-cabecalho {
            display: flex;
            align-items: center;
            height: 4rem;
        }
        
        .menu{
            display: flex;
            align-items: center;
            height: 4rem;
        }
        
        .rotas {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 7rem;
            height: 4rem;
        }
        
        .rotas a {
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            font-size: 1.25rem;
        }
        
        .rotaSelect {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #f5f5f5;
            width: 7rem;
            height: 4rem;
            border-radius: 0.3rem;
        }
        
        .rotas a:hover {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #e7e7e7;
            width: 7rem;
            height: 4rem;
            border-radius: 0.3rem;
        }
        
        .rotaSelect a:hover {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #e7e7e7;
            width: 7rem;
            height: 4rem;
            border-radius: 0.3rem;
        }
        
        .rotaSelect a {
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            font-size: 1.25rem;
            color: #00a1fc;
        }
        
        .rodape {

            bottom: 0;
            left: 0;
            width: 100%;
            height: 3rem;
            background-color: #000;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
        
        .rodape img {
                width: 20px; 
                height: auto;
                border-radius: 5px;
            }
        
        .nomeAgP {
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                color: #fbfbfb;
                font-size: 25px;
                margin-right: 1rem;
            }
    }
